input {
    color: #ffffff;
    background-color: #323232;
}

.main-container {
    background-image: url(logo/text-slide.png);
    max-height: 1000;
    padding: 100px;
}

.info-parent {
    display: block;
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
}
.info-parent__item {
    flex-basis: 300px;
}

.info-card__title {
    margin-top: 22px;
}
.info-card__photo {
    margin-top: 25px;
}
.card-number {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(50, 50, 50, 0.691);
}

.line_grey {
    height: 2px;
    background: #323232;
    opacity: 63%;
    width: 300px;
}

.card-title {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
}

.card-photo {
    display: flex;
    justify-content: center;
}

.card-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 20px;
    color: #4d4d4d;
}

.photo-research {
    margin-bottom: 38px;
}

.photo-build {
    margin-bottom: 40px;
}

.photo-optimize {
    margin-bottom: 48px;
}

.text-slide {
    height: 394px;
    background-image: url(logo/text-slide.png);
}
.text-slide__text {
    padding-top: 127px;
}
.text-slide__line {
    width: 60px;
    margin-top: 23px;
}

.text-design {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 55px;
    color: #c7aa8b;
}

.light-brown {
    background-color: #c7aa8b;
}
